<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-1">
      <h1 class="create">Today's menu？
        <%= form_with model: list, local:true do |f| %>
        <%= f.text_area :body %><br>

        <input class="radius-pixel-30" type="submit" value="Post!"></a>


        <% end %>
      </h1>
    </div>
  </div>
</div>