<h1>ユーザー 一覧</h1>
<% @users.each do |user| %>
  <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
  <%= user.name %>
  <%= link_to "Show", list_path(user.id) %>  
<% end %>