/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* 背景用*/
body {
  padding: 30px;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-radius-gradient-wrap {
  display: inline-block;

  padding: 0.5rem;

  border-radius: 100vh;
  background: #f2f5f6;
  background: -webkit-linear-gradient(
    to top,
    #f2f5f6 0%,
    #e3eaed 37%,
    #96a1a5 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f2f5f6),
    color-stop(37%, #e3eaed),
    to(#96a1a5)
  );
  background: -webkit-linear-gradient(
    top,
    #f2f5f6 0%,
    #e3eaed 37%,
    #96a1a5 100%
  );
  background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #96a1a5 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f6', endColorstr='#96a1a5', GradientType=0);
}

a.btn-radius-gradient {
  border-radius: 100vh;
  background: #e3eaed;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e3eaed),
    to(#f2f5f6)
  );
  background: -webkit-linear-gradient(top, #e3eaed 0%, #f2f5f6 100%);
  background: linear-gradient(to bottom, #e3eaed 0%, #f2f5f6 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3eaed', endColorstr='#f2f5f6', GradientType=0);
}

a.btn-radius-gradient:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}



body{
  background-image: url("kondate.jpg");
  position: center;
}