// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.create {
  font-family: fantasy;
  padding-top: 30px;
}

.radius-pixel-30 {
  border-radius: 30px;
  width: 50%;
}


.menu-title {
  font-size: 30px;
  margin: 0 0 30px 110px;
}

.menu-item {
  font-size: 20px;
  margin: 5px 0 0 120px;
  font-family: "HiraginoSans-W0";
}

.list-edit {
  margin: 190px 0 0 20px;
}

.edit-title {
  font-size: 30px;
}

.list-edit-form {
  font-size: 20px;
  margin: 50px 0 0 0;
  font-family: "HiraginoSans-W0";
}

.list-show {
  margin: 190px 0 0 0px;
}