// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
.text{
  font-size: 20px;
  text-align: center;
  margin-top: 360px;
  font-family: "HiraginoSans-W0"

}
.signup{
  padding: 310px;
}

body {
  transition: all 1s;
}

.bodyfadeout {
  opacity: 0;
}

button {
  border: none;
  cursor: pointer;
}